<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<form id="add_roles" th:action="@{/admin/add_role}" method="post" th:object="${roleEntity}" th:fragment="add_roles">
    <form th:action="@{/admin/addrole}" method="post" th:object="${roleEntity}">
        <legend>Add Role</legend>

        <div th:class="${#fields.hasErrors('role') ? 'form-group has-error' : 'form-group'}">
            <label for="role">Role Name</label>
            <input type="text" class="form-control" name="role" id="role" th:field="*{role}"/>
            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="help-block">role error</span>
        </div>

        <button class="btn btn-primary">Add Role</button>
    </form>
</form>

</div>
</html>