<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<form id="delete_carousel" th:action="@{/admin/delete_carousel}" method="post"
      th:if="${carouselList != null}" th:fragment="delete_carousel">
    <div th:if="${carouselList.size() > 0}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Selected</th>
                <th>Id</th>
                <th>Title</th>
                <th>Destination</th>
                <th>Display Order Number</th>
                <th>Image Preview</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="carousel : ${carouselList}">
                <td>
                    <input type="checkbox" name="ids" th:value="${carousel.id}"></input>
                </td>
                <td th:text="${carousel.id}"></td>
                <td th:text="${carousel.title}"></td>
                <td>
                    <a th:href="${carousel.destinationLink}" th:text="${carousel.destinationLink}"></a>
                </td>
                <td th:text="${carousel.displayOrder}"></td>
                <td>
                    <img th:src="${carousel.image.asBase64()}"></img>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary">Submit</button>
    </div>
</form>

</div>
</html>