<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/master/head :: head"></head>
<body>

<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>

<div th:insert="fragments/master/banner :: banner"></div>
<div th:insert="fragments/master/alerts :: alerts"></div>


<div class="container">
    <div class="panel-group" id="accordion" role="tablist">

        <div sec:authorize="${hasRole('ROLE_ADMIN')}" id="role_pane" class="panel panel-default" th:fragment="roles (allRoles, roleEntity)">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-controls="collapseOne">
                        Roles
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/user_roles/delete_roles :: delete_roles"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/user_roles/add_roles :: add_roles"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="${hasRole('ROLE_ADMIN')}"  class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        User Accounts
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/site_users/delete_site_users :: delete_site_users"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/site_users/add_site_user :: add_site_user"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="${hasRole('ROLE_ADMIN')}"  class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                       aria-expanded="false" aria-controls="collapseThree">
                        Index Page Carousel
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/index_carousel/delete_carousel :: delete_carousel"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/index_carousel/add_index_carousel :: add_index_carousel"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                       aria-expanded="false" aria-controls="collapseFour">
                        Add Date
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/event_dates/delete_date :: delete_event_date"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/event_dates/add_date :: add_date"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                       aria-expanded="false" aria-controls="collapseFive">
                        Wedding Venue Information
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_venue/edit_wedding_venue_text :: edit_venue_text"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_venue/edit_wedding_venue_image_upload :: venue_image_upload"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_venue/edit_wedding_venue_image_delete :: delete_wedding_venue_images"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                       aria-expanded="false" aria-controls="collapseFive">
                        Wedding Theme Information
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_theme/wedding_theme_content :: wedding_theme_content"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_theme/men_picture_upload :: men_picture_upload"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_theme/delete_mens_pictures :: men_picture_delete"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_theme/women_picture_upload :: women_picture_upload"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/wedding_theme/delete_womens_pictures :: women_picture_delete"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                       aria-expanded="false" aria-controls="collapseFive">
                        Food &amp; Bar Menu
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/foodbar/add_foodbar :: food_bar_add"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/foodbar/delete_foodbar :: food_bar_delete"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"
                       aria-expanded="false" aria-controls="collapseFive">
                        After Party Content
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEdit">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/after_party/edit_after_party :: edit_after_party"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"
                       aria-expanded="false" aria-controls="collapseFive">
                        Wedding Registries
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/registry/delete_registry :: delete_registry"></form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form th:replace="/fragments/admin/registry/add_registry :: add_registry"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>