<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/banner :: banner"></div>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../static/images/slide-1.JPG" alt="...">
            <div class="carousel-caption">
                <div class="carousel-label">
                    <h1 class="text-center">Wedding and Reception</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/images/slide-2.jpg" alt="...">
            <div class="carousel-caption">
                <div class="carousel-label">
                    <h1 class="text-center">Event Information</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/images/slide-3.jpg" alt="...">
            <div class="carousel-caption">
                <div class="carousel-label">
                    <h1 class="text-center">Hotel Information</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/images/slide-4.jpg" alt="...">
            <div class="carousel-caption">
                <div class="carousel-label">
                    <h1 class="text-center">Photo Booth</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../static/images/slide-5.jpg" alt="...">
            <div class="carousel-caption">
                <div class="carousel-label">
                    <h1 class="text-center">Registry</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</body>
</html>