<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/master/head :: head"></head>
<body>
<div th:include="fragments/master/banner :: banner"></div>
<div th:include="fragments/master/alerts :: alerts"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li th:each="carousel, stat : ${carousels}"
                        data-target="#carousel"
                        th:attr="data-slide-to=${stat.index}" data-slide-to="0" th:class="${stat.index == 0 ? 'active' : ''}"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div th:class="${stat.index == 0 ? 'item active' : 'item'}" th:each="carousel, stat : ${carousels}">
                        <img th:src="${carousel.image.asBase64()}" class="img-responsive" alt="Image"></img>
                        <div class="carousel-caption">
                            <div class="carousel-label">
                                <h1 class="text-center" th:text="${carousel.title}"></h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>