<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/master/head :: head"></head>
<body>
<script type="text/javascript" th:src="@{/js/wedding.js}"></script>

<div th:replace="fragments/master/banner :: banner"></div>
<div th:replace="fragments/master/alerts :: alerts"></div>

<div class="container">


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        </div>
    </div>
</div>

</body>
</html>