<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<form id="delete_wedding_venue_images" th:action="@{/admin/wedding_venue/delete_wedding_venue_images}" method="post"
      th:if="${weddingVenueContent.images != null}" th:fragment="delete_wedding_venue_images">
    <div th:if="${weddingVenueContent.images.size() > 0}">
        <legend>Delete Images</legend>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>File Name</th>
                <th>Preview</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="img : ${weddingVenueContent.images}">
                <td>
                    <input type="checkbox" name="ids" th:value="${img.id}"/>
                </td>
                <td th:text="${img.id}"></td>
                <td th:text="${img.fileName}"></td>
                <td>
                    <img th:src="${img.asBase64()}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

</div>
</html>