<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<form id="delete_registry" th:action="@{/admin/registry/delete_registry}" method="post"
      th:if="${registryList != null}" th:fragment="delete_registry">
    <div th:if="${registryList.size() > 0}">
        <legend>Delete Roles</legend>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="re : ${registryList}">
                <td>
                    <input type="checkbox" name="ids" th:value="${re.id}"/>
                </td>
                <td th:text="${re.name}"></td>
                <td>
                    <a th:href="${re.link}" th:text="${re.link}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

</div>
</html>