<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<form id="men_picture_delete" th:action="@{/admin/wedding_theme/men/delete}" method="post"
      th:if="${weddingThemeContent.menExamplePics != null}" th:fragment="men_picture_delete">
    <div th:if="${weddingThemeContent.menExamplePics.size() > 0}">
        <legend>Delete Men's Images</legend>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>File Name</th>
                <th>Preview</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="img : ${weddingThemeContent.menExamplePics}">
                <td>
                    <input type="checkbox" name="ids" th:value="${img.id}"/>
                </td>
                <td th:text="${img.id}"></td>
                <td th:text="${img.fileName}"></td>
                <td>
                    <img th:src="${img.asBase64()}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

</div>
</html>