<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="jumbotron" th:fragment="banner">
    <div class="container">
        <h1>Come celebrate the...</h1>
        <h2>Joining of Patrick Luck &amp; Joanna Bernstein</h2>
        <p>Days remaining: 100</p>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">Home</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Event Information</a>
            </li>
            <li>
                <a href="#">Hotel Information</a>
            </li>
            <li>
                <a href="#">Photo Booth</a>
            </li>
            <li>
                <a href="#">Registry</a>
            </li>
            <li class="navbar-right">
                <a href="#">Login</a>
            </li>
        </ul>
    </nav>
</div>
</html>