<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div id="banner" class="container" th:fragment="banner">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <a class="navbar-brand" href="#">Home</a>
                <ul class="nav navbar-nav">
                    <li th:each="link : ${navbarLinks}">
                        <a th:href="${link.destinationLink}" th:text="${link.title}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron" >
                <div class="container">
                    <h1>Come celebrate the...</h1>
                    <h2>Joining of Patrick Luck &amp; Joanna Bernstein</h2>
                    <p>Days remaining: 100</p>
                </div>
            </div>
        </div>
    </div>
</div>

</html>